{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>SheetGrabber</title>
</head>
<body class="bg-dark">
    <div class="container">
        <div class="row bg-light py-3">
            <div class="col-3">
                <h3 class="ms-3">SheetGrabber</h3>
            </div>
            <div class="col-9">
                <button class="btn btn-outline-success ms-2" type="submit">Собрать данные</button>
            </div>
        </div>
        <div class="row bg-light">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">заказ №</th>
                        <th scope="col">стоимость, $</th>
                        <th scope="col">стоимость, руб.</th>
                        <th scope="col">срок поставки</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <th scope="row">{{ object.google_id }}</th>
                            <td>{{ object.order_number }}</td>
                            <td>{{ object.price_us }}</td>
                            <td>{{ object.price_ru }}</td>
                            <td>{{ object.will_arrive }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>